<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../head-links/head.ejs')%>
        <title>
            <%= title%>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs');%>
        <h1>About Page</h1>
</body>

</html>